import React from 'react';

import styles from './{{pascalCase name}}.module.scss';

const {{pascalCase name}} = ({ firstProp, secondProp }) => {

  return (
    <div>
      <h2>{{pascalCase name}} Component</h2>
    </div>
  );
};

export default {{pascalCase name}};
