@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

// Colors
$color-body: #f4faff;
$color-blue: #0052cc;
$color-red: #cf0d12;
$color-white: #ffffff;
$color-black: #000000;
$color-light-black: rgba(0, 0, 0, 0.5);
$color-blue-gray: #42526e;
$color-blue-gray-hover: rgba(242, 242, 242, 0.2);

// Fonts
$font-main: "Inter", sans-serif;
